body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
  background-color: pink;
  background: url('../images/icon.ico') no-repeat fixed center /120px;
}

.card-header{
  background-color: darkcyan;
  color: white;
}

.card-body{
  padding: 0.75em !important;
}

.card-body hr {
  background-color: white;
}

.card-body .table {
  background-color: white;
}

.mv1{
    margin: 1em 0;
}

.alert button{
  padding: 0.4em 0.5em!important;
}

.btn{
  margin: 0 0.5em;
}

.nav-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .25s;
}

.nav-link:hover::after {
  width: 100%;
}

.checkbox-padding {
  text-align: center;
}

tr th {
  vertical-align: middle !important;
  text-align: center !important;
}

tr td {
  vertical-align: middle !important;
}

td .btn-group{
  width: 100%;
}

td .btn-group button{
  margin: auto!important;
}

.checkbox-padding .control-input{
  width: 20px !important;
  height: 20px !important;
  vertical-align: middle;
}

.menu{
  justify-content: space-between!important;
}
